# Python cache files
__pycache__/
*.pyc
*.pyo

# virtual environments and env files
venv/
.venv/
.env
.env.*

# version control directories
.git/
.gitignore

# Docker-related files
Dockerfile
docker-compose.yml

# log files
*.log
